/Input_files
/Windows_version
/todo.md
/Upload
main.py
/log
/Linux_Version
config.txt
clean_upload.sh
build_new_version.sh
Windows_build.txt
debug-checklist.txt
category
config.ini
/tests/__pycache__/
/dist
/item_upload/__pycache__/
/item_upload/packages/__pycache__/
